.OrderComponent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.OrderComponent > div {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.OrderComponent h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.OrderComponent ul {
    list-style-type: none;
    padding: 0;
}

.OrderComponent ul li {
    margin: 5px 0;
    font-size: 18px;
}

.OrderComponent .total {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}