.NewOrderPage {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-top {
  flex: 1;
}

.sidebar-bottom {
  margin-bottom: 20px;
}

.content {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}