.UserLogout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UserLogout .username {
  font-weight: bold;
}

.UserLogout .logout-button {
  padding: 10px;
  cursor: pointer;
}