.OrderDetail {
  padding: 20px;
}

.section-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.order-info {
  margin-bottom: 10px;
}

.order-info div {
  margin: 5px 0;
}

.items-list {
  list-style-type: none;
  padding: 0;
}

.items-list li {
  margin: 5px 0;
}

.total-amount {
  margin-top: 10px;
  font-weight: bold;
}