.CategoryList {
  list-style-type: none;
  padding: 0;
}

.CategoryList li {
  padding: 10px;
  cursor: pointer;
}

.CategoryList li:hover {
  background-color: #f0f0f0;
}

.CategoryList li.active {
  font-weight: bold;
  background-color: #e0e0e0;
}