.CategoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center; 
}

.CategoryList li {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 150px; 
  padding: 10px;
  background-color: #f0f0f0; 
  border-radius: 10px; 
  text-align: center;
  cursor: pointer;
}

.CategoryList li.active {
  background-color: #d0d0d0; 
}

.category-image {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  border-radius: 50%; 
  margin-bottom: 10px;
}