:root {
  --primary-color: #0d6efd; /* Bootstrap primary color */
  --secondary-color: #6c757d; /* Bootstrap secondary color */
  --background-color: #f8f9fa; /* Bootstrap light background color */
  --white: #ffffff;
  --black: #000000;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Bootstrap default sans-serif font-family */
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family-sans-serif);
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

/* Customize Bootstrap button styles */
.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
}


.form-control {
  border-radius: .2rem;
}




.navbar {
  margin-bottom: 20px;
}


.custom-style-1 {
  background-color: var(--white);
}

.custom-style-2 {
  color: var(--black);
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}