.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-brand .logo {
  width: 50px;
}

.navbar-nav .nav-link {
  color: #fff; 
  margin-right: 1rem;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline 
}

.navbar-text {
  color: #100909;
  margin-right: 1rem;
}

.nav {
  color: #fff;
}

.nav-link {
  color: #fff 
}

.nav-link:hover {
  text-decoration: underline 
}