.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.logo-section .logo {
  width: 50px; 
}

.nav-links a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info a {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
}

.user-info a:hover {
  text-decoration: underline;
}